.Signup {
    text-align: right;
  }
  
  .Signup-logo {
    height: 5vmin;
    align-items: right;
    pointer-events: none;
  }

  
  .Signup-header {
    background-color: #282c34;
    min-height: 5vh;
    display: inline-flexbox;
    flex-direction: column;
    align-items: right;
    justify-content: none;
    font-size: calc(10px + 2vmin);
    color: white;
  }